<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="settings">
            <config key="file_selection_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_ReaderFileChooser"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <config key="file_selection">
                <config key="file_system_chooser__Internals">
                    <entry key="has_fs_port" type="xboolean" value="false"/>
                    <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                    <entry key="convenience_fs_category" type="xstring" value="RELATIVE"/>
                    <entry key="relative_to" type="xstring" value="knime.workflow"/>
                    <entry key="mountpoint" type="xstring" value="LOCAL"/>
                    <entry key="spaceId" type="xstring" value=""/>
                    <entry key="spaceName" type="xstring" value=""/>
                    <entry key="custom_url_timeout" type="xint" value="1000"/>
                    <entry key="connected_fs" type="xboolean" value="true"/>
                </config>
                <config key="path">
                    <entry key="location_present" type="xboolean" value="true"/>
                    <entry key="file_system_type" type="xstring" value="RELATIVE"/>
                    <entry key="file_system_specifier" type="xstring" value="knime.workflow"/>
                    <entry key="path" type="xstring" value="data/courier_delivery.csv"/>
                </config>
                <config key="filter_mode_Internals">
                    <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                    <entry key="EnabledStatus" type="xboolean" value="true"/>
                </config>
                <config key="filter_mode">
                    <entry key="filter_mode" type="xstring" value="FILE"/>
                    <entry key="include_subfolders" type="xboolean" value="false"/>
                    <config key="filter_options">
                        <entry key="filter_files_extension" type="xboolean" value="false"/>
                        <entry key="files_extension_expression" type="xstring" value=""/>
                        <entry key="files_extension_case_sensitive" type="xboolean" value="false"/>
                        <entry key="filter_files_name" type="xboolean" value="false"/>
                        <entry key="files_name_expression" type="xstring" value="*"/>
                        <entry key="files_name_case_sensitive" type="xboolean" value="false"/>
                        <entry key="files_name_filter_type" type="xstring" value="WILDCARD"/>
                        <entry key="include_hidden_files" type="xboolean" value="false"/>
                        <entry key="include_special_files" type="xboolean" value="true"/>
                        <entry key="filter_folders_name" type="xboolean" value="false"/>
                        <entry key="folders_name_expression" type="xstring" value="*"/>
                        <entry key="folders_name_case_sensitive" type="xboolean" value="false"/>
                        <entry key="folders_name_filter_type" type="xstring" value="WILDCARD"/>
                        <entry key="include_hidden_folders" type="xboolean" value="false"/>
                        <entry key="follow_links" type="xboolean" value="true"/>
                    </config>
                </config>
            </config>
            <entry key="has_column_header" type="xboolean" value="true"/>
            <entry key="has_row_id" type="xboolean" value="false"/>
            <entry key="support_short_data_rows" type="xboolean" value="false"/>
            <entry key="skip_empty_data_rows" type="xboolean" value="false"/>
            <entry key="prepend_file_idx_to_row_id" type="xboolean" value="false"/>
            <entry key="comment_char" type="xstring" value="#"/>
            <entry key="column_delimiter" type="xstring" value=","/>
            <entry key="quote_char" type="xstring" value="&quot;"/>
            <entry key="quote_escape_char" type="xstring" value="&quot;"/>
            <entry key="use_line_break_row_delimiter" type="xboolean" value="true"/>
            <entry key="row_delimiter" type="xstring" value="%%00013%%00010"/>
            <entry key="autodetect_buffer_size" type="xint" value="1048576"/>
        </config>
        <config key="table_spec_config_Internals">
            <entry key="version" type="xstring" value="V4_4"/>
            <config key="individual_specs">
                <config key="data/courier_delivery.csv">
                    <entry key="num_columns" type="xint" value="3"/>
                    <config key="0">
                        <entry key="name" type="xstring" value="order_id"/>
                        <entry key="has_type" type="xboolean" value="true"/>
                        <config key="type">
                            <entry key="class" type="xstring" value="java.lang.Integer"/>
                        </config>
                    </config>
                    <config key="1">
                        <entry key="name" type="xstring" value="distance_km"/>
                        <entry key="has_type" type="xboolean" value="true"/>
                        <config key="type">
                            <entry key="class" type="xstring" value="java.lang.Double"/>
                        </config>
                    </config>
                    <config key="2">
                        <entry key="name" type="xstring" value="time_min"/>
                        <entry key="has_type" type="xboolean" value="true"/>
                        <config key="type">
                            <entry key="class" type="xstring" value="java.lang.Double"/>
                        </config>
                    </config>
                </config>
            </config>
            <config key="table_transformations">
                <config key="data/courier_delivery.csv">
                    <entry key="num_columns" type="xint" value="3"/>
                    <entry key="skip_empty_columns" type="xboolean" value="false"/>
                    <config key="columns">
                    <config key="0">
                        <config key="external_spec">
                            <entry key="name" type="xstring" value="order_id"/>
                            <entry key="has_type" type="xboolean" value="true"/>
                            <config key="type">
                                <entry key="class" type="xstring" value="java.lang.Integer"/>
                            </config>
                        </config>
                        <entry key="name" type="xstring" value="order_id"/>
                        <entry key="keep" type="xboolean" value="true"/>
                        <entry key="position" type="xint" value="0"/>
                        <config key="production_path">
                            <entry key="_converter" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
                            <entry key="_converter_src" type="xstring" value="java.lang.Integer"/>
                            <entry key="_converter_dst" type="xstring" value="Number (integer)"/>
                            <entry key="_converter_name" type="xstring" value="Integer"/>
                            <config key="_converter_config"/>
                            <entry key="_producer" type="xstring" value="class java.lang.Integer-&gt;java.lang.Integer"/>
                            <entry key="_producer_src" type="xstring" value="java.lang.Integer"/>
                            <entry key="_producer_dst" type="xstring" value="java.lang.Integer"/>
                            <entry key="_producer_name" type="xstring" value="java.lang.Integer"/>
                            <config key="_producer_config"/>
                        </config>
                    </config>
                    <config key="1">
                        <config key="external_spec">
                            <entry key="name" type="xstring" value="distance_km"/>
                            <entry key="has_type" type="xboolean" value="true"/>
                            <config key="type">
                                <entry key="class" type="xstring" value="java.lang.Double"/>
                            </config>
                        </config>
                        <entry key="name" type="xstring" value="distance_km"/>
                        <entry key="keep" type="xboolean" value="true"/>
                        <entry key="position" type="xint" value="1"/>
                        <config key="production_path">
                            <entry key="_converter" type="xstring" value="org.knime.core.data.def.DoubleCell$DoubleCellFactory.create(class java.lang.Double)"/>
                            <entry key="_converter_src" type="xstring" value="java.lang.Double"/>
                            <entry key="_converter_dst" type="xstring" value="Number (double)"/>
                            <entry key="_converter_name" type="xstring" value="Double"/>
                            <config key="_converter_config"/>
                            <entry key="_producer" type="xstring" value="class java.lang.Double-&gt;java.lang.Double"/>
                            <entry key="_producer_src" type="xstring" value="java.lang.Double"/>
                            <entry key="_producer_dst" type="xstring" value="java.lang.Double"/>
                            <entry key="_producer_name" type="xstring" value="java.lang.Double"/>
                            <config key="_producer_config"/>
                        </config>
                    </config>
                    <config key="2">
                        <config key="external_spec">
                            <entry key="name" type="xstring" value="time_min"/>
                            <entry key="has_type" type="xboolean" value="true"/>
                            <config key="type">
                                <entry key="class" type="xstring" value="java.lang.Double"/>
                            </config>
                        </config>
                        <entry key="name" type="xstring" value="time_min"/>
                        <entry key="keep" type="xboolean" value="true"/>
                        <entry key="position" type="xint" value="2"/>
                        <config key="production_path">
                            <entry key="_converter" type="xstring" value="org.knime.core.data.def.DoubleCell$DoubleCellFactory.create(class java.lang.Double)"/>
                            <entry key="_converter_src" type="xstring" value="java.lang.Double"/>
                            <entry key="_converter_dst" type="xstring" value="Number (double)"/>
                            <entry key="_converter_name" type="xstring" value="Double"/>
                            <config key="_converter_config"/>
                            <entry key="_producer" type="xstring" value="class java.lang.Double-&gt;java.lang.Double"/>
                            <entry key="_producer_src" type="xstring" value="java.lang.Double"/>
                            <entry key="_producer_dst" type="xstring" value="java.lang.Double"/>
                            <entry key="_producer_name" type="xstring" value="java.lang.Double"/>
                            <config key="_producer_config"/>
                        </config>
                    </config>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.io.filehandling.csv.reader.CSVTableReaderNodeFactory"/>
    <entry key="node-name" type="xstring" value="CSV Reader"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.12.0"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.12.0"/>
    <config key="factory_settings"/>
    <config key="node_creation_config"><config key="File System Connection"/><config key="Data Table"/></config>
    <entry key="name" type="xstring" value="CSV Reader"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
